<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="View Products">
  <ion-content has-header="true" padding="true">
  <center><div ng-hide="load=='load'" ng-show="load=='loading'">
<font face="Ubuntu" color="#FF0000" size="5">
Loading Please Wait...
</font>
</div></center>
  
<ion-item ng-if="Lotus[0]&&BigC[0]" ng-repeat="friend in Lotus" class="col col-50" style="display: inline-block;height:75vh;">
  <center><p style="font-size:20px;line-height: 30px;">{{friend.store}}</p></center>
  <p style="font-size:20px;line-height: 20px;">{{friend.productName}}</p>
  <center><img style="height:150px;width:150px;" src="{{friend.imageURL}}"></center>
  <center>
  <p style="font-size:50px;line-height: 50px;">{{friend.price}} ฿</p>
  </center>
</ion-item>
<ion-item ng-if="Lotus[0]&&BigC[0]" ng-repeat="friend in BigC" class="col col-50" style="display: inline-block;height:75vh;">
  <center><p style="font-size:20px;line-height: 30px;">{{friend.store}}</p></center>
  <p style="font-size:20px;line-height: 20px;">{{friend.productName}}</p>
  <center><img style="height:150px;width:150px;" src="{{friend.imageURL}}"></center>
  <center>
  <p style="font-size:50px;line-height: 50px;">{{friend.price}} ฿</p>
  </center>
</ion-item>
<ion-item ng-if="!Lotus[0]" ng-repeat="friend in BigC" class="col col-100" style="display: inline-block;height:75vh;">
  <center><p style="font-size:20px;line-height: 30px;">{{friend.store}}</p></center>
  <p style="font-size:20px;line-height: 20px;">{{friend.productName}}</p>
  <center><img style="height:150px;width:150px;" src="{{friend.imageURL}}"></center>
  <center>
  <p style="font-size:50px;line-height: 50px;">{{friend.price}} ฿</p>
  </center>
</ion-item>
<ion-item ng-if="!BigC[0]" ng-repeat="friend in Lotus" class="col col-100" style="display: inline-block;height:75vh;">
  <center><p style="font-size:20px;line-height: 30px;">{{friend.store}}</p></center>
  <p style="font-size:20px;line-height: 20px;">{{friend.productName}}</p>
  <center><img style="height:150px;width:150px;" src="{{friend.imageURL}}"></center>
  <center>
  <p style="font-size:50px;line-height: 50px;">{{friend.price}} ฿</p>
  </center>
</ion-item>
<br><br>
<center>
<div ng-hide="view=='login'">
      <p style="font-size:20px;line-height: 20px;">To Use Wishlist</p>
      <button class="button button-assertive" ng-click="loginLink2()" style="display:inline-block;width:46vw">
        Login
      </button>
      <button class="button button-balanced" ng-click="registerLink2()" style="display:inline-block;width:46vw">
        Register
      </button>
</div>

<button ng-show="view=='login'" class="button button-assertive" ng-click="addToWish()" ng-show="view=='login'" style="display:inline-block;width:92vw">
    Add To Wish List
  </button>
</center>
  </ion-content>

</ion-view>
