<ion-view title="Wish List">
  <ion-content class="has-header padding">
    <center>
    <div ng-hide="view=='login'">
    	Please 
		<button class="button button-assertive" ng-click="loginLink2()">
		  Login
		</button>
		Or
		<button class="button button-balanced" ng-click="registerLink2()">
		  Register
		</button>
		To use Wishlist
    </div>
    </center>
      <ion-list ng-show="view=='login'">
      <ion-item ng-repeat="playlist in friends" class="item item-thumbnail-left">
      
        <img class="productImage" src="{{playlist.imageURL}}">
        <h2>{{playlist.productName}}</h2>
        <!-- <p>{{playlist.promoString}}</p> -->

        <p>Price : {{playlist.price}}<!-- <b ng-if="playlist.discountPercent!=null">-{{playlist.discountPercent}}%={{playlist.price-(playlist.price*playlist.discountPercent/100)}}</b> --> | Store : {{playlist.store}}</p>




      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
