<ion-view title="Home">
  <ion-content>
   <div class="welcomevertical">
<font face="Ubuntu" color="#FFFFFF" size="5">
<p style="line-height: 25vh;">Welcome to Sheep</p>
<p>To Get Started scroll down to view some product \/</p>
<p>To Use Wishlist Please register or login use the button below \/</p>
</font>
<center><div ng-hide="view=='login'">
<button class="button button-assertive" ng-click="loginLink()">
  Login
</button>
<button class="button button-balanced" ng-click="registerLink()">
  Register
</button>
</div></center>
<center>
<font face="Ubuntu" color="#FFFFFF" size="5"  ng-show="view=='login'">
Welcome Back {{username}}

</font>
</center>
<img src="/res/screens/android/sheep_cute copy.png" style="height:25%" >
</div>


<center>
<font face="Ubuntu" color="#FF0000" size="5"  ng-hide="load=='loading'">
Loading Please Wait...
</font>
</center>
    <ion-list>
      <ion-item class="item item-thumbnail-left" collection-repeat="playlist in products" collection-item-width="'100%'" collection-item-height="100" href="#/tab/playlist/{{playlist.barcode}}" ng-style="{ 'width' : '101%'}"> 
      <!-- ng-repeat="playlist in friends" href="#/tab/playlist/{{playlist.barcode}}" class="item item-thumbnail-left" -->
      
        <img class="productImage" src="{{playlist.imageURL}}">
        <h2>{{playlist.productName}}</h2>
        <!-- <p>{{playlist.promoString}}</p> -->

        <p>Price : {{playlist.price}}<!-- <b ng-if="playlist.discountPercent!=null">-{{playlist.discountPercent}}%={{playlist.price-(playlist.price*playlist.discountPercent/100)}}</b> --></p>




      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
